@font-face {
  font-family: "LPMQ";
  src: url("./components/Fonts/LPMQ.ttf");
}

body {
  transition: all 0.2s;
  background-color: #171a1f;
}

.App {
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #171a1f;
}

.App header {
  font-size: 0.8rem;
  background-color: #005043;
  height: 10.5vh;
  min-height: 50px;
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  z-index: 99;
  padding: 20px;
  box-sizing: border-box;
}

.App footer {
  text-align: center;
  display: block;
  color: white;
  width: 100%;
}

.App loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.banner {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alquranul-karim {
  margin: 10px;
  filter: invert();
  width: 400px;
  height: 150px;
}

.title {
  color: whitesmoke;
  text-decoration: none;
}

.list-container {
  max-width: 1140px;
}

.listBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.bodyList {
  max-width: 1107px;
}

#sort-by {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: #005043;
}

option{
  background-color: #084939;
}

div #surah-list {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  border-radius: 10px;
  min-width: 280px;
  height: 70px;
  width: 25vw;
  padding: 1%;
  background-color: #1e2329;
  font-size: 1rem;
}

div #surah-list:hover {
  background-color: #20252c;
  cursor: pointer;
  transition: all 0.4s;
}

.surah-left-pos {
  display: flex;
  align-items: center;
  max-width: 210px;
}

#nameOfSurah {
  margin: 0;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

#translationName {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
  font-size: 0.65rem;
}

#surahInfo {
  padding-right: 10px;
  justify-content: right;
  text-align: right;
  font-weight: normal;
  font-size: 0.85rem;
}

#numberOfSurah {
  width: 60px;
  height: 60px;
  background-color: #1f1f24;
  padding: 15px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16pt;
}

#surahButton {
  margin: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#surahButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.back-to-top {
  position: fixed;
  height: 70px;
  width: 70px;
  bottom: 20px;
  right: 20px;
  background: #0f8b6c;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}

.back-to-top:hover{
  background-color: #13c196;
}

input {
  margin: 10px;
  line-height: 1.7;
  height: 40px;
  width: 55vw;
  max-width: 520px;
  font-size: 0.8rem;
  background: rgb(230, 230, 230);
  color: #5c5b64;
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  text-align: center;
}

button {
  border: none;
  background-color: #13c196;
  border-radius: 5px;
  padding: 8px;
  color: rgb(32, 32, 32);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #0f8b6c;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 80px;
}

h3 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  color: white;
}

a {
  color: #17e7b3;
}

img {
  width: 40px;
  height: 40px;
  margin: 2px 5px;
}

.basmalah {
  align-items: center;
  justify-content: center;
  max-height: max-content;
  border-radius: 10px;
  margin: 1%;
  padding: 5%;
  padding-bottom: 2%;
  line-height: 100%;
  background-color: #1e2329;
}

.basmalah #arab{
  position: relative;
  bottom: 20px;
  line-height: 100%;
  font-size: 2.2rem;
  text-align: center;
}

.basmalah #translation {
  text-align: center;
}

.verses {
  max-height: max-content;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 1%;
  padding: 5%;
  padding-bottom: 2%;
  line-height: 100%;
  background-color: #1e2329;
}

.text {
  font-size: 2vh;
  margin-bottom: 5%;
  text-align: right;
  font-family: "LPMQ";
}

.surahName #arab {
  margin-top: 5px;
  font-size: 3.5em;
  text-align: center;
  font-family: "LPMQ";
}

.surahName #translation {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

p #arab {
  font-family: "LPMQ";
  font-size: 4vh;
  line-height: 250%;
  margin-bottom: 2px;
}

span .endOfAyah{
  float: left;
  width: 12px;
  height: 17px;
  position: relative;
}

.versesNumber {
  margin-right: 10px;
  background-color: #1c1c22;
  padding: 12px;
  border-radius: 8px;
  font-size: 2vh;
  text-align: center;
}

.tafsir-button {
  background-color: #1c1c22;
  border-radius: 8px;
  font-size: 2vh;
}

.tafsir-button:hover {
  background-color: #13c196;
}

.tafsir {
  line-height: 15px;
  width: 75vw;
  font-size: 8pt;
}

#translation {
  line-height: 150%;
  font-size: 0.8rem;
}

#idText {
  margin-left: 5px;
}

#arrowUp {
  position: relative;
  filter: invert();
  width: 35px;
  height: 35px;
  bottom: 2px;
}

#powered-by-vercel {
  height: 20px;
  width: 250px;
  margin-bottom: 10px;
}