@font-face {
  font-family: "LPMQ";
  src: url("./components/Fonts/LPMQ.ttf");
}

body {
  transition: all 0.2s;
  background-color: #171a1f;
}

.App {
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #171a1f;
}

.App header {
  font-size: 1rem;
  background-color: #005043;
  height: 12vh;
  min-height: 50px;
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  z-index: 99;
  padding: 20px;
  box-sizing: border-box;
}

.App footer {
  display: block;
  color: white;
  width: 100%;
}

.App loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #2084d5;
}

.title {
  color: whitesmoke;
  text-decoration: none;
}

.listBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.banner {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alquranul-karim {
  margin: 10px;
  filter: invert();
  width: 90vw;
  height: 20vh;
}

div #surah-list {
  display: inline-table;
  justify-content: center;
  align-items: center;
  line-height: 130%;
  border-radius: 10px;
  height: max-content;
  min-width: 160px;
  width: 15vw;
  padding: 1.2vw;
  margin: 3%;
  background-color: #22272e;
  font-size: 1rem;
}

div #surah-list:hover {
  background-color: #1f242b;
  cursor: pointer;
  transition: all 0.4s;
}

#nameOfSurah {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

#translationName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
}

#surahInfo {
  text-align: center;
  font-weight: normal;
  font-size: 0.85rem;
}

#numberOfSurah {
  background-color: #222229;
  padding: 15px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16pt;
}

#surahButton {
  margin: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#surahButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer {
  padding-left: 20px;
}

input {
  margin: 10px;
  line-height: 1.7;
  height: 40px;
  width: 55vw;
  max-width: 520px;
  font-size: 0.8rem;
  background: rgb(230, 230, 230);
  color: #5c5b64;
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  text-align: center;
}

button {
  border: none;
  background-color: #13c196;
  border-radius: 5px;
  padding: 8px;
  color: rgb(32, 32, 32);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #0f8b6c;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 80px;
}

h3 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  color: white;
}

a {
  color: #17e7b3;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.basmalah {
  align-items: center;
  justify-content: center;
  max-height: max-content;
  border-radius: 10px;
  margin: 1%;
  padding: 5%;
  padding-bottom: 2%;
  line-height: 100%;
  background-color: #1e2329;
}

.basmalah #arab{
  position: relative;
  bottom: 20px;
  line-height: 100%;
  font-size: 2.2rem;
  text-align: center;
}

.basmalah #translation {
  text-align: center;
}

.verses {
  max-height: max-content;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 1%;
  padding: 5%;
  padding-bottom: 2%;
  line-height: 100%;
  background-color: #1e2329;
}

.text {
  font-size: 2vh;
  margin-bottom: 5%;
  text-align: right;
  font-family: "LPMQ";
}

.surahName #arab {
  margin-top: 5px;
  font-size: 3.5em;
  text-align: center;
  font-family: "LPMQ";
}

.surahName #translation {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

p #arab {
  font-family: "LPMQ";
  font-size: 4vh;
  line-height: 200%;
  margin-bottom: 2px;
}

span .endOfAyah{
  float: left;
  width: 12px;
  height: 17px;
  position: relative;
}

.versesNumber {
  background-color: #1c1c22;
  padding: 10px;
  border-radius: 8px;
  font-size: 2vh;
  text-align: center;
}

#translation {
  line-height: 120%;
  font-size: 0.8rem;
}

#idText {
  margin-left: 5px;
}

#arrowUp {
  position: relative;
  top: 3px;
  filter: invert();
  width: 40px;
  height: 40px;
}
